// Custom styles.

@font-face {
  font-family: 'XiaoDouDaoMoMoZhiCaoShuJian';
  font-weight: bold;
  src: url("/fonts/XiaoDouDaoMoMoZhiCaoShuJian.otf") format("opentype");
}

.header { 
    background-image: url(/images/header-bg.jpg);
    background-size: 100%, 297px;
    background-repeat:no-repeat;
}
